.container-projects{
  display: flex;
  height: 18.5rem;
  margin-bottom: 5rem;
}

.container-projects-inviert{
  display: flex;
  flex-direction: row-reverse;
  height: 18.5rem;
  margin-bottom: 5rem;
}

.description{
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.description p:first-child{
  color: #FFA500;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.description p:nth-child(2){
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.description p:nth-child(3){
  color: rgba(255, 255, 255, 0.719);
  font-size: .875rem;
  text-align: justify;
}

.container-image-project{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.square-frame {
  position: relative;
  width: 380px;
  height: 280px;
  border: 6px solid #FFA500;
  border-radius: 0.7rem;
  cursor: pointer;
}
.square-frame:hover {
  transform: scale(1.1);
}

.framed-image {
  position: absolute;
  border-radius: 0.3rem;
  top: -20px; 
  right: -20px; 
  width: 100%;
  height: auto;
  transform: translate(0, 0); 
} 


/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container-projects{
    height: 21.5rem;
  }
  .square-frame {
    width: 300px;
    height: 220px;
    
  }
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
  .container-projects{
    height: 100%;
    flex-direction: column;
    /* background-color: #FFC500; */
  }
  .container-projects-inviert{
    flex-direction: column;
    height: 100%;
  }
  .square-frame {
    /* background-color: 'red'; */
    margin-top: 3rem;
    width: 250px;
    height: 180px; 
  }
}