.container-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 7rem 0;
  height: 10rem;
}

.container-section p:first-child{
  font-size: 25px;
  color: #FFF;
}
.job-title p{
  font-size: 50px;
  color: #FFF;
}

span{
  /* background: linear-gradient(45deg, #FFA500, #FFF); */
  -webkit-background-clip: text;
  background-clip: text;
  color: #FFA500; 
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
  .container-section{
    margin: 2rem 0;
    height: 15rem;
    justify-content: start;
  }
  .container-section p:nth-child(2){
    font-size: 35px;
  }
}
