.container-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 7rem 0;
  height: 10rem;
}

.container-section p:first-child{
  font-size: 25px;
  color: #FFF;
}
.container-section p:nth-child(2){
  font-size: 50px;
  color: #FFF;
}

span{
  background: linear-gradient(45deg, #C21500, #FFC500);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}