.contact{
  border-radius: 76px 76px 0px 0px;
  -moz-border-radius: 76px 76px 0px 0px;
  -webkit-border-radius: 76px 76px 0px 0px;
  margin-top: 9rem;
}

.container-flex{
  /* background-color: aqua; */
  padding: 1.2rem 1.2rem 0 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrap-one{
  /* background-color: aqua; */
  flex: 1;
}
.wrap-two{
  flex: 1;
  display: flex;
  justify-content: right;
  /* background-color: blueviolet; */
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
  .contact{
    margin-top: 5rem;
  }
  .container-flex{
    padding: 2.5rem 0 0 0;
  }
  .container-form{
    padding: 0 !important;
  }
  .box-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .button-form{
    width: 100%;
  }
}

/* monitores ultrawide */

@media (min-width: 2560px) {
  .container-flex{
    padding: 1.5rem 32rem 0 32rem;
  }
}
