.text-logo{
  color: #FFC500;
  font-size: 1.7rem;
  font-family: cursive;
}

.dev{
  color: #C21500;
  font-size: 1.7rem;
  font-family: cursive;
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .navbar-link{
    font-size: 14px;
  }
}
/* MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
  .navigation{
    display: none !important;
  }
  .mobile-none{
    display: none !important;
    /* background-color: aquamarine; */
  }
}
