.container_header{
  padding: 0 12rem;
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container_header{
    padding: 0 3rem;
  }
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
  .container_header{
    padding: 0 2rem;
  }
}

@media (min-width: 2560px) {
  .container_header{
    padding: 0 33rem;
  }
}