
.section-margin{
  margin: 0 12rem;
}

.projects{
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.projects p{
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}

.container-services{
  margin: 7rem 0;
}

.title-services{
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

.services{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: 3rem auto 0 auto;
  grid-gap: 4.375rem 2rem;
  justify-items: center;
  align-items: center;
}

.container-tecnologies{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.tecnologie-text {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .section-margin{
    margin: 0 3rem;
  }
  .tecnologies{
    margin-top: 7rem;
  }
  .container-tecnologies{
    flex-wrap: wrap;
    
}
  .responsive-tablet{
    margin-top: 3rem;
  }

  .container-services{
    margin-top: 7rem;
  }
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
  .section-margin{
    margin: 0 2rem;
    /* background-color: rgb(88, 52, 3); */
  }
  .services{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0 auto;
    grid-gap: 2rem 17.75rem;
  }
  .container-services{
    margin-top: 4rem;
  }
  .tecnologies{
    /* background-color: aqua; */
    margin-top: 7rem;
  }
  .container-tecnologies{
    flex-direction: column;
  }
}

/* monitores ultrawide */

@media (min-width: 2560px) {
  .section-margin{
    margin: 0 33rem;
  }
  .tecnologies{
    margin-top: 10rem;
  }
  .container-services{
    margin-top: 10rem;
  }
}
