@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../public/font/Roboto-Light.ttf") format("truetype");
}

html, body{
  font-family: "Roboto";
  scroll-behavior: smooth;
}
