@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppin";
  src: url("../public/font/Poppins-Light.ttf") format("truetype");
}

html, body{
  font-family: 'poppin';
  scroll-behavior: smooth;
}
