.container-tecno{
  flex: 1;
  height: 380px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(45deg, #FFC500,  #C21500) 1;
}

.gradient-tecno{
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px -3px rgba(255,165,0,1);
  -moz-box-shadow: 0px 0px 30px -3px rgba(255,165,0,1);
  box-shadow: 0px 0px 20px -4px rgba(255,165,0,1);
}

.title-tecno{
  /* background-color: aqua; */
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.tecno{
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.icon-tecno{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 90px;
}

.tecno-text{
  color: white;
  margin-top: .625rem;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.imagen-tecno{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
  .container-tecno{
    padding: 23.5px;
  }

  .gradient-tecno{
    margin-bottom: 1.5rem;
  }
}

@media (width: 320px){
  .container-tecno{
    padding: 5px;
  }
}