.container-tecno{
  flex: 1;
  height: 23.75rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(70deg, #FFA500,  #C21500) 1;
}

.gradient-tecno{
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px -3px #C21500;
  -moz-box-shadow: 0px 0px 30px -3px #C21500;
  box-shadow: 0px 0px 20px -4px #FFA500;
}

.tecno{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
