.container-about{
  height: 19.99rem;
  display: flex;
  margin-bottom: 12rem;
}
.profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: blue; */
  width: 25%;
}

.about{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: orange; */
  flex: 1;
}

.about p:first-child{
  font-size: 25px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.about p:nth-child(2){
  font-size: 14px;
  color: rgba(255, 255, 255, 0.719);
  text-align: justify;
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container-about{
    height: 29.99rem;
  }
  .profile{
    width: 38%;
}
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
  .container-about{
    height: 49rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
  }
  .profile{
    width: 100%;
    justify-content: center;
    /* background-color: aqua; */
  }
  .about{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* background-color: orange; */
  }

}

